*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

#card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    text-align: center;

}

#card h1{
    margin: 10px;
    font-size: 30px;

}

#card img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#card h5{
    font-size: 20px;
    color: red;
    margin: 15px;
}

#card button{
    margin: 5px;
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: 700;
    background-color: aquamarine;
    color: black;
    border: none;
}

